* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
}

.top {
  background-image: url(images/Rectangle\ 1.jpg);
  height: 1024px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  padding-top: 217px;
  gap: 32px;
}
.title__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}
.title__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 498px;
}
.title__text_font {
  font-weight: 600;
}
.title__button {
  background: #9C0332;
  border-radius: 30px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  transition: 1s;
  font-family: "Montserrat";
}
.title__button:hover {
  background: aqua;
  text-decoration: underline;
  color: black;
}

.game {
  background-image: url(images/Rectangle\ 5.jpg);
  height: 556px;
  display: flex;
  gap: 32px;
  align-items: center;
}
.game__item {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
  width: 378px;
  height: 300px;
  box-sizing: border-box;
  transition: 0.5s;
}
.game__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px #ccc;
}
.game__item1 {
  background-image: url(images/Rectangle\ 6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__item2 {
  background-image: url(images/Rectangle\ 7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__item3 {
  background-image: url(images/Rectangle\ 8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__text {
  padding: 32px;
}

.seasons {
  background-image: url(images/play.jpg);
  background-position: center;
  height: 800px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.play {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.play__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.play__center {
  align-items: center;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.play__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 584px;
}
.play__text_center {
  text-align: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
.play__button {
  height: 48.6px;
  width: 234.06px;
  top: 187px;
  left: 0px;
  border-radius: 30px;
  background: #9C0332;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  color: #FFFFFF;
  transition: 1s;
  font-family: "Montserrat";
}
.play__button:hover {
  background: rgb(73, 181, 181);
  text-decoration: underline;
  color: black;
  font-size: 24px;
}

.memory {
  display: flex;
  flex-direction: row-reverse;
  background-image: url(images/Rectangle\ 7\ \(1\).jpg);
  height: 800px;
  justify-content: space-between;
  align-items: center;
}

.guess {
  background-image: url(images/unsplash_iO0I6-mhDEY.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #000915;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  font-style: normal;
}

@media (min-width: 374px) and (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    display: flex;
    align-items: center;
    background-position-x: calc(100% + 455px);
  }
  .title {
    display: flex;
    flex-direction: column;
    padding: initial;
    align-items: center;
  }
  .title__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .title__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game {
    display: flex;
    flex-direction: column;
    height: 1221px;
    justify-content: center;
  }
  .game__item {
    width: 100%;
  }
  .game__text {
    padding-left: 16px;
  }
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play__title {
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
  }
  .play__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
  }
  .gamezone {
    width: 100%;
    padding-top: 64px;
  }
  .seasons {
    display: flex;
    align-content: center;
  }
  .memory {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .guess {
    background-position-x: calc(100% + 455px);
    display: flex;
    align-items: flex-start;
  }
}/*# sourceMappingURL=gamesite.css.map */